EMAIL_SMTP_SENDER = ""      # Sender and login to your SMTP server eg: philippe@example.org
EMAIL_SMTP_RECIPIENT = ""   # Recipient for sample emails eg: philippe@example.org
EMAIL_SMTP_SERVER = ""      # SMTP server address eg: smtp.gmail.com
EMAIL_SMTP_PORT =           # SMTP server port eg: 465
EMAIL_SMTP_PASSWORD = ""    # SMTP server password 
API_SERVER = ""             # API url eg: https://api.sweeloapp.com
API_TOKEN = ""              # OpenID Token eg: https://id.getpyla.com/openid/token
API_CLIENT_ID = ""          # Client ID deliver by GetPyla
API_CLIENT_SECRET = ""      # Client secret delivered by GetPyla
```
